body{
background:#0f172a;
color:white;
font-family:Tahoma,sans-serif;
margin:0;
padding:20px;
padding-bottom:90px;
direction:rtl;
}

header{
margin-bottom:20px;
}

header h1{
margin:0;
font-size:34px;
}

header p{
color:#94a3b8;
}

.market-box{
display:flex;
gap:10px;
margin-bottom:15px;
}

.market-item{
flex:1;
background:#1e293b;
padding:15px;
border-radius:16px;
text-align:center;
}

.market-item h3{
font-size:13px;
margin:0 0 8px;
color:#94a3b8;
}

.market-item span{
font-weight:bold;
}

.green{
color:#22c55e;
}

.card{
background:#1e293b;
padding:18px;
border-radius:18px;
margin-bottom:15px;
}

.stock-head{
display:flex;
justify-content:space-between;
align-items:center;
}

.stock-head p{
margin:5px 0 0;
color:#94a3b8;
}

.score{
background:#22c55e;
width:60px;
height:60px;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
font-size:22px;
font-weight:bold;
}

.progress{
height:10px;
background:#334155;
border-radius:20px;
overflow:hidden;
margin:20px 0;
}

.bar{
height:100%;
background:#22c55e;
}

.metrics div{
display:flex;
justify-content:space-between;
padding:8px 0;
border-bottom:1px solid rgba(255,255,255,.06);
}

.metrics div:last-child{
border:none;
}

.row{
display:flex;
justify-content:space-between;
padding:10px 0;
border-bottom:1px solid rgba(255,255,255,.06);
}

.row:last-child{
border:none;
}

.row b{
background:#22c55e;
padding:4px 10px;
border-radius:20px;
}

nav{
position:fixed;
bottom:0;
left:0;
right:0;
background:#1e293b;
display:flex;
justify-content:space-around;
padding:16px;
}

nav a{
text-decoration:none;
color:white;
}
